---
layout: search
permalink: /search.html
---
<h1>Search</h1>
<form class="form-group" action="{{ site.baseurl }}/search.html" method="get">
  <div class="form-group">
		<input type="text" class="form-control" id="search-box" name="query" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<ul id="search-results"></ul>

<script>
  window.store = {
    {% for post in site.posts %}
      "{{ post.url | slugify }}": {
        "title": "{{ post.title | xml_escape }}",
        "author": "{{ post.author | xml_escape }}",
        "category": "{{ post.category | xml_escape }}",
        "content": {{ post.content | strip_html | strip_newlines | jsonify }},
        "url": "{{ site.baseurl | xml_excape }}{{ post.url | xml_escape }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
</script>
<script src="{{ site.baseurl }}/js/lunr.min.js"></script>
<script src="{{ site.baseurl }}/js/search.js"></script>
