{% if site.comments == true and page.comments == true and site.disqus != '' %}
  <script type="text/javascript">
    var disqus_shortname = '{{ site.disqus }}';

   (function() {
     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
{% endif %}

<!-- This loads Hypothes.is annotations. -->
<script src="https://hypothes.is/embed.js" async></script>