{% include header.html %}

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>
        <div class="col-md-9">
          <div class="article">
            <div class="well">
                <h1><a href="{{ site.baseurl}}{{ page.url }}">{{ page.date | date: "%b %-d, %Y" }} - {{ page.title }}</a></h1>
			<div>
			<span class="author">Written by: <a href="{{ page.author_url }}">{{ page.post_author }}</a>
			{% if page.post_author2 != null %}
                , <a href=" {{ page.author_url2 }}">{{ page.post_author2 }}</a>
            {% endif %}
			{% if page.post_author3 != null %}
                , <a href=" {{ page.author_url3 }}">{{ page.post_author3 }}</a>
            {% endif %}
			{% if page.post_author4 != null %}
                , <a href=" {{ page.author_url4 }}">{{ page.post_author4 }}</a>
            {% endif %}
			{% if page.post_author5 != null %}
                , <a href=" {{ page.author_url5 }}">{{ page.post_author5 }}</a>
            {% endif %}
			</span>
			</div>
			<div>
			<span class="author">Tags: 
			{% for tag in page.tags %}
			    <a class="codinfox-tag-mark" href="{{ site.baseurl}}/tag/#{{ tag | slugify }}"> {{ tag }} </a>
			{% endfor %}
			</span>
			</div>
            {% if site.comments == true and page.comments == true and site.disqus != '' %}
                <p class="author"><a href="#disqus_thread">Comments</a></p>
            {% endif %}
            <div class="post-content">
            {{ content }}
            </div>
            {% if site.comments == true and page.comments == true and site.disqus != '' %}
            <div id="disqus_thread">
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>
            {% endif %}
            </div>
          </div>
          <div class="pagination">
              {% if page.next %}
                <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">Newer Post</a>
              {% endif %}
              {% if page.previous %}
                <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">Older Post</a>
              {% endif %}
</div>

        </div>
    </div>
</div>

{% include disqus-comments.html %}
{% include footer.html %}
